body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a0a0a0;
}

.calculator
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#969696, #303030);
    box-shadow: 0 0 10px 2px black;
    padding: 10px;
    box-sizing: border-box;
    animation: getBig forwards 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
    box-sizing: border-box;
    width: 160px;
    height: 280px;
}

p{
    margin: 0 0 20px 0;
    padding: 5px;
    text-align: center;
    width: 90%;
    height: 10%;
    color: greenyellow;
    background-color: black;
    font-size: 1.7rem;
    box-shadow: 0px 2px 2px 0px rgb(80, 80, 80);
}

div{
    padding: 0;
}

.calculator button {
    display: inline;
    color: black;
    background: linear-gradient(rgb(161, 161, 161), rgb(57, 57, 57));
    cursor: pointer;
    font-size: 2rem;
    width: 40px;
    height: 40px;
}

@keyframes getBig{
    0%{
        transform: scale(0);;
    }
    100%{
        transform: scale(2);;
    }
}